SQL_PASSWORD=password
TELEGRAM_ADMIN_IDS_LIST=[1234567890]
TELEGRAM_BOT_API_TOKEN=0123456789:AAEf-L4BLFSfUxHYgtY-HvZgE-0123456789
TELEGRAM_LOGS_BOT_API_TOKEN=9876543210:AAEf-L4BLFSfUxHYgtY-HvZgE-9876543210
TELEGRAM_LOGS_CHAT_ID=-1000000000000
LOGIN_LOGOUT_SERVICE_TOKEN=SecretToken
LOGIN_LOGOUT_SERVICE_HEADER_NAME=x-auth-token
FERNET_KEY_FOR_COOKIES=a0b1c2d3e4f5g6h7i8j9k10l11m12n13o14p15q16r17
ORIOKS_REQUESTER_SECONDS_BETWEEN_REQUESTS=4
RABBIT_MQ_URL=amqp://guest:guest@rabbitmq:5672/
DATABASE_URL=postgresql://omb_user:${SQL_PASSWORD}@postgres:5432/omb_database
MONGODB_URL=mongodb://mongodb:27017/?replicaSet=rs0
